
 body{
    background: rgb(34, 62, 80);
  }
  .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .container{
    background: #ffffff;

  }
  .title{
    color: grey;
    font-size: 18px;
  }
  button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  a{
    padding-right: 5px;
    text-decoration: none;
    font-size: 16px;
    color: black;
  }
  button:hover, a:hover{
    opacity: 0.7;
  }